

<span *ngIf="listadoProductosFire.length == 0">No existen productos</span>
<!--
<ul>
    <li *ngFor="let contacto of listadoContactos">
        <a>{{contacto.nombre}} | {{contacto.correo}} | {{contacto.mensaje}}</a>
        <a>Editar</a>
        <a >Eliminar</a>
    </li>
</ul>
-->
<div id="elemento">
<ul>
    <table>
        <thead *ngIf="listadoProductosFire.length !== 0">
        <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listadoProductosFire | async">
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.marca}}</td>
        <td><a id = "editar" (click)="editar(producto)">Editar</a>
        &nbsp; <a id = "eliminar" (click)="eliminar(producto)">Eliminar</a></td>
        </tr>
    </tbody>
    </table>
</ul>
</div>